body{
	padding-top: 60px; /*For fixed navbar*/
	padding-right: 20px;
	padding-left: 20px;
}

header .navbar .brand{
	height: 42px;
	line-height: 42px;
	padding: 0 20px;
}

header .brand img{
	width: 28px;
	height: 28px;
	position: relative;
	top: -3px;
}

.top-date {
	font-size: 90%;
	font-weight: bold;
	text-align: right;
	font-style: italic;
	padding-right: 10px;
	padding-bottom: 5px;

}

/* Match and prematch time start */
.match-time {
	float: right;
}

.prematch-time {
	float: left;
}

.time-style{
	font-size: 80%;
	font-weight: bold;
}
/* Match and prematch time end */

/* Logo resize start */
img.logo{
    width: 30px;
    height: auto;
    vertical-align: middle;
}
/* Logo resize end */


.match-info {
	padding-top: 0px;
}

.team-info {
	text-align: center;
	clear: none;
}

.highlight-team { /* Highlight favourite team */
	font-weight: bold;
	color: #D22;
}